# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Bulldoze local runtime & caches
.cache/
*.png.tmp
Wallpaper_greeter_raw.png
.avatar_url

# Editor & OS temporary files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

docs/specs/*